a {
  margin-top: 50px;
}

body {
  font-family: Arial;
  background-color: #90EE90;
}

button {
  margin: 10px;
  background-color: green;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

section {
  background-color: #F0F0F0;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
  width: 120px;
}




